body {
    font-weight: 700;
    background: #ffffff;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}



.btn2 {
    padding-top: 10px;

}

.btn3 {
    padding-top: 10px;

}
.button {
    position: relative;
    outline: none;
    background-color: #0096cc;
    opacity: .5;
    border-radius: 10px;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 150px;
    height: 65px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;

  }
  
  .button:after {
    content: "";
    background: #f5f8fa;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
    border-radius: 10px

  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    transition: 0s;
    opacity: 1;
  }

h3 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 1.3em;
    
}

.container_left {
    width: 20%;
    border-width: thin;
    border-color: rgba(0,0,0,.125);
}

.container_left ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #3a4145;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


header {
    background: #ffffff;
    padding-bottom: 20px;
    
}

header::after{
    content: '';
    display: table;
    clear: both;
}
nav {
    float: right;
    padding-right: 100px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 5px;
    
    position: relative;
    
}

nav a{
    color: dimgrey;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover{
    color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    
    background-color: #444;
    position: absolute;
    
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 200ms;
}

nav a:hover::before{
    width:100%;
}

ul {
    list-style: none;
}

.main {
    
    position: relative;
    height: 300px;
    
    background-color: #f5f8fa;
    text-align: center;
    
    border-color: rgba(0,0,0,.125);
    border-style: solid;
    border-width: thin;
    
    letter-spacing: .01rem;
    line-height: 1.75rem;
    
}

.main h1 {
    position: relative;
    
    top: 40px;
    text-align: center;
    
    
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #3a4145;
}

.main h2 {
    position: relative;
    text-align: inherit;
    top: 30px;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    color: #aaa;
}

.main h2 a {
    color: #0096cc;
    text-decoration: none;
}

.main img {
    position: relative;
    top: 40px;
    border-radius: 50%;
    border: none;
    
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    
    height: 150px;
    width: 150px;
}

.chess {
    border-color: rgba(0,0,0,.125);
    border-style: solid;
    border-width: thin;
}


.content {
    position: relative;
    display: inline-block;
    width: 100%;
}

.about {
    position: absolute;
    display: inline-block;
    height: 200px;
    width: 450px;
    left: 50%;
    margin-left: -275px;
    padding-right: 10px;
    
    
    background: #ffffff;
    text-overflow: clip;
    
    font-family: 'Merriweather', sans-serif;
    font-weight: 100;
    letter-spacing: .01rem;
    line-height: 1.75rem;
    
}

.about a {
    text-decoration: none;
    color: #0096cc;
}


.about p {
    font-family: 'Merriweather', serif !important;
    font-size: 1.1em;
    line-height: 1.75em;
}
 
.contact {
    position: relative;
    max-height: 100%;
    width: 50px;
    left: 50%;
    margin-left: 190px;

}

.contact .box {
    width: 40px;
    height: 40px;
    margin-top: 8px;
}

.contact .imgBox {
    width: 100%;
    height: 100%;
}
.contact .box .imgBox img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    transition: .5s ease;
    
}


.contact .imgBox:hover img {
    opacity: .3;
}


#twitter-box {
    background-image: url(Resources/twitter-colored.jpg);
    transform: .5s ease;
    background-size: contain;
}

#linkedin-box {
    background-image: url(Resources/linkedin-colored.jpg);
    transform: .5s ease;
    background-size: contain;
}
#github-box {
    background-image: url(Resources/github-alternate.jpg);
    transform: .5s ease;
    background-size: contain;
}
#facebook-box {
    background-image: url(Resources/facebook-colored.jpg);
    transform: .5s ease;
    background-size: contain;
}
#instagram-box {
    background-image: url(Resources/instagram-colored.jpg);
    transform: .5s ease;
    background-size: contain;
}

#transition:hover {
    opacity: 0;
    transition: 1s ease;
    
}


.footer {
    position: absolute;
    margin: 0;
    bottom: 0px;
    width: 99%;
    background-color: #f5f8fa;
    
    border-color: rgba(0,0,0,.125);
    border-style: solid;
    border-width: thin;
    padding-left: 10px;
    opacity: .3;
}

/*
Below is Books Page
*/

.book-main {
    position: relative;
    height: 350px;
    
    padding-top: 40px;
    background-color: #f5f8fa;
    text-align: center;
    
    border-color: rgba(0,0,0,.125);
    border-style: solid;
    border-width: thin;
}
.content-area-book-wrapper {
    width: 100%;
    height: 370px;
}

.content-area-book-heading {
    height: 25px;
    background-color: #FFFFFF;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}


.content-area-book-heading-left h3{
    font-size: 1.2em;
    font-family: 'Fira Sans Condensed', sans-serif;
}


.content-area-book {
    height: 100px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    
}

.content-flex-item-box {
    display: inline-block;

    height: 350px;
    width: 250px;

    margin-top: 25px;

    background-color: #fff;
    align-content: stretch;
}

.content-flex-item-box-image {
    position: relative;
    height: 240px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;

}

.content-flex-item-box-image:hover {
    opacity: .81;
}

.content-flex-item-box-h3 {
    height: 20px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.content-flex-item-box-h3:hover {
    text-decoration: underline;
}

.content-flex-item-box-h3 h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.001em;
    line-height: 1.1em;
}

.content-flex-item-box-text h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .9em;

}
.content-flex-item-box-text {
    height: 30px;
    width: 240px;
    overflow-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.content-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book-main-image {
    left: 50%;
    display: inline-block;

    width: 500px;
    height: 310px;

    background-image: url(Resources/duncangates.jpg);
}

.book-main-image:hover {
    opacity: 0;
    transition: 1s;
}

.book-main-writing {
    display: inline-block;
    width: 500px;
    height: 310px;

    margin-left: 100px;

}

.book-main-writing-h5 {
    display: inline-block;
}


.content-area-wrapper {
    position: relative;
    height: 450px;
    
    border-color: rgba(0,0,0,.125);
    border-style: solid;
    border-width: thin;
    background-color: #f5f8fa;
}

.content-area {
    position: relative;
    text-align: center;
    height: 350px;
    width: 1020px;
    top: 50px;

    margin-left: auto;
    margin-right: auto;
    
    white-space: nowrap;
    background-color: #eaedf0;

    border-radius: 25px;
    
}

.main-book-footer {
    height: 30px;
    width: 100%;
    margin-top: 20px;
    bottom: 0px;
}
.video-feed-container {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
    top: 25px;

    background-color: lightblue;
    border-radius: 20px;

    
}

.results-feed-container {
    position: relative;
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: #f5f8fa;
    
    margin-left: 70px;
    margin-right: 70px;
    bottom: 45px;
    
    
    
}

.ai-feed-container {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
    background-color: darkblue;
    border-radius: 20px;
    top: 25px;
}

.menu-items-container {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: #fff;
}

.menu-items {
    position: relative;
    text-align: center;
    background-color: #fdfdfd;
    padding-top: 20px;
    height: 200px;
    width: 300px;
    margin-left: -150px;
    left: 50%;
    
}

#video {
    position: relative;
    width: 30vh;
    height: inherit;
    border-radius: 20px;
    top: 0;
    object-fit: cover;
}




@media only screen and (max-height: 790px) { 
  .footer { 
    display: none; 
  } 
}

@media only screen and (max-width: 1100px) {

    .book-main-image {
        display: none;
    }
    .content-area-book {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .content-area-book-heading {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .book-main {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }


}


